<!--// HTML:
// Para centrar el texto Utilities => Text: https://getbootstrap.com/docs/4.3/utilities/text/
// Background: Utilities => Colors => https://getbootstrap.com/docs/4.3/utilities/colors/#background-color-->
<div class="bg-light text-center">
    Formula 1 / Anartz Mugika Ledo - <a href="https://www.udemy.com/course/graphql-angular-de-0-a-experto-jwt-socket-mongodb-heroku-anartz-mugika/?referralCode=D4977DF5BBF11C1BA946" target="_blank">GraphQL con Angular de 0 a Experto. JWT, Sockets, MongoDB</a> 
</div>
